In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_csv('gender_classification_v7.csv')

In [4]:
data.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [14]:
data.shape

(5001, 8)

In [6]:
data.isnull().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

In [9]:
x = data.drop(['gender'], axis =1)

In [10]:
x.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
0,1,11.8,6.1,1,0,1,1
1,0,14.0,5.4,0,0,1,0
2,0,11.8,6.3,1,1,1,1
3,0,14.4,6.1,0,1,1,1
4,1,13.5,5.9,0,0,0,0

In [12]:
y = data['gender']

In [13]:
from sklearn.model_selection import train_test_split

In [15]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.30, random_state = 0)

In [16]:
xtrain.shape

(3500, 7)

In [17]:
ytest.shape

(1501,)

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
from sklearn.metrics import accuracy_score

In [28]:
model = DecisionTreeClassifier(criterion = 'entropy', max_depth = 3)
model.fit(xtrain,ytrain)

DecisionTreeClassifier(criterion='entropy', max_depth=2)

In [26]:
y_pred = model.predict(xtest)

In [27]:
accuracy = accuracy_score(y_pred, ytest)

In [29]:
print(accuracy)

0.966022651565623

In [31]:
from sklearn.metrics import confusion_matrix

In [32]:
cm = confusion_matrix(ytest,y_pred)

In [33]:
cm

array([[757,   7],
       [ 44, 693]], dtype=int64)